
<nav class="styles_container_01" role="navigation" style="opacity: 1;">
    <div class="styles_container_02" style="transform: translateX(0px) translateY(0px) translateZ(0px);">
        <div class="styles_container_03">
            <button id="menu_toggle" type="button" aria-expanded="false">
                <img class="imagen_boton" src="img/button.png" width="100" height="100" alt="Menu Button">
                <span class="text_buton">MENU</span>
            </button>
        </div>
    </div>
</nav>
<script>
    gsap.to('#menu_toggle', {
boxShadow: '0px 10px 20px rgba(0, 0, 0, 0.4)',
duration: 1,
repeat: -1,
yoyo: true
    });
    

