<!--BTN_MENU-->
<nav class="styles_container_01" role="navigation" style="opacity: 1;">  
    <div class="styles_container_02" style="transform: translateX(0px) translateY(0px) translateZ(0px);">  
        <div class="styles_container_03" style="position: relative;">  
            <button id="menu_toggle" type="button" aria-expanded="false">  
                <img alt loading="lazy" decoding="async" data-ning="1" class="imagen_boton" src="img/button.png" width="90" height="90" style="color: transparent;object-fit: cover;opacity:1;transform:scale(1)" alt="Menu Button">  
                <span class="text_buton">MENU</span>  
            </button>  
                <!-- Card visible -->  
                <div id="tablero" class="card">  
                    <!-- <div class="barra_busqueda">  
                        <i class="fas fa-search"></i>  
                        <input type="text" placeholder="Search for products, stories, ...">  
                        <i class="fas fa-microphone"></i>  
                    </div> -->  
                    <div class="main_menu">  
                        <h2 class="titulo_tablero">Remajud <br> Subastas</h2> 
                    </div>  
                    <div class="sub_menu">
                        <a href="">INICIO</a>  
                        <a href="">REMATES</a>  
                        <a href="">EN VIVO</a>  
                        <a href="/contacto">CONTACTO</a>  
                        <a href="">LOGIN</a>  
                    </div>  
                </div>  
        </div>  
    </div>  
    <!-- Botón de cierre flotante (invisible inicialmente) -->
    <!-- <div id="close_button" class="close_button" style="display:none;">
        <i class="fas fa-times"></i>
    </div> -->
</nav> 
