<nav class="styles_container_01" role="navigation" style="opacity: 1;">   
    <div class="styles_container_02" style="transform: translateX(0px) translateY(0px) translateZ(0px);">   
        <div class="styles_container_03" style="position: relative;">   
            <button id="menu_toggle" type="button" aria-expanded="false">
                <img alt loading="lazy" decoding="async" data-ning="1" class="imagen_boton" src="/img/textura_buton.jpg" width="100" height="100" style="color: transparent;object-fit: cover;opacity:1;transform:scale(1)" alt="Menu Button">   
                <span class="text_buton">MENU</span>   
            </button>   
            <div id="tablero" class="card">  
                <div class="main_menu">   
                    <h2 id="tablero_titulo" class="titulo_tablero">Remajud <br> Subastas</h2> <!-- Título que cambiará --> 
                </div> 
                <span id="flecha_regreso" style="display: none; position: absolute; top: 10px; left: 10px; cursor: pointer; z-index: 10;"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor" stroke-width="2" class="icon_flecha">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.8284 12.0005L14.6569 14.8289L13.2426 16.2431L9 12.0005L13.2426 7.75781L14.6569 9.17203L11.8284 12.0005Z"></path>
                    </svg>
                </span> 
                <div class="sub_menu" style="display: block;"> 
                    <a href="#" id="login_link">LOGIN</a>   
                    <a href="/">INICIO</a>   
                    <a href="/remates">REMATES</a>   
                    <a href="/envivo">EN VIVO</a>   
                    <a href="/contacto">CONTACTO</a>     
                </div> 
                <div id="formulario_login" class="container_formulario" style="display: none;"> 
                    <div class="card_formulario"> 
                        <div class="inputBox"> 
                            <input type="text" required="required"> 
                            <span class="user">Usuario</span> 
                        </div> 
                        <div class="inputBox"> 
                            <input type="password" required="required"> 
                            <span>Contraseña</span>
                        </div>
                        <a href="#" class="enlace_subrayado">Iniciar Sesión</a> 
                        <a href="#" class="enlace_subrayado">Crear cuenta</a> 
                        <a href="#" class="enlace_subrayado">Olvidé mi contraseña</a>
                    </div> 
                </div> 
            </div> 
        </div>   
    </div>   
</nav> 

