<footer>
  <div class="contenedor_links">
    <ul class="paginas_navegacion">
      <li>
        <a href="">Pagina principal</a>
      </li>
      <li>
        <a href="">Biblioteca de remates</a>
      </li>
      <li>
        <a href="">Atencion al cliente</a>
      </li>
      <li>
        <a href="">TERMINOS Y CONDICIONES</a>
      </li>
      <li>
        <a href="">Iniciar sesion</a>
      </li>
      <li>
        <a href="">Se parte de Remajud</a>
      </li>
      <li>
        <a href="">Comprar en Remajud</a>
      </li>
    </ul>
    <button class="btn_subir" id="btn_subir">
      <i class="ri-arrow-up-line"></i>
    </button>
  </div>
  <div class="contenedor_redes">
    <div class="div_redes">
      <a href=""><i class="ri-facebook-circle-fill"></i></a>
      <a href=""><i class="ri-tiktok-fill"></i></a>
      <a href=""><i class="ri-youtube-fill"></i></a>
      <a href=""><i class="ri-whatsapp-line"></i></a>
    </div>
    <div class="politicas">
      <a href="">Política de Cookies</a>
      <a href="">Declaración de Privacidad</a>
      <a href="">Condiciones Generales</a>
      <a href="">©2024 Remajud</a>
    </div>
  </div>
</footer>