<!-- Footer -->
<footer class="footer border-t border-gray-700 py-10">
    <div class="container_footer mx-auto px-4 lg:px-8">
        <div class="footer-content grid grid-cols-1 md:grid-cols-2 gap-8 text-center md:text-left">
            <!-- Sección de Categoría -->
            <div>
                <!-- <h3 class="footer-title">Categoría</h3> -->
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Inicio</a></li>
                    <li><a href="#" class="footer-link">Remates</a></li>
                    <li><a href="#" class="footer-link">Contacto</a></li>
                </ul>
            </div>

            <!-- Sección de Ayuda -->
            <div>
               <!--  <h3 class="footer-title">Ayuda</h3> -->
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">WhatsApp</a></li>
                    <li><a href="#" class="footer-link">¿Cómo vender?</a></li>
                    <li><a href="mailto:inmuebles@inmuebles.com" class="footer-link">inmuebles@inmuebles.com</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Links de Política -->
    <div class="footer-bottom text-gray-400 flex flex-col md:flex-row justify-between items-center mt-8">
        <div style="font-size: 40px;" class="social-media">
            <i class="ri-facebook-fill"></i>
            <i class="ri-whatsapp-line"></i>
            <i class="ri-tiktok-line"></i>
            <i class="ri-youtube-line"></i>

        </div>
        <ul class="policy-links flex space-x-4 mb-4 md:mb-0">
            <li><a href="#" class="footer-link">Condiciones de servicio</a></li>
            <li><a href="#" class="footer-link">Política de privacidad</a></li>
            <li><a href="#" class="footer-link">Licencia</a></li>

        </ul>

    </div>
</footer>