<header id="header" class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <h1 class="titulo_logo">remajud</h1>
    </div>
    <!-- Enlaces de navegación -->
    <nav class="nav-links">
      <div class="iconos_header" style="font-size: 2rem;">
        <a href="" class="links_redireccion">
          <i class="ri-home-line"></i>
        </a>
        <a href="" class="links_redireccion">
          <i class="ri-book-shelf-line"></i>
        </a>
        <a href="" class="links_redireccion">
          <i class="ri-customer-service-2-line"></i>
        </a>
      </div>
    </nav>
  </div>
</header>