<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ESTILOS DE INICIO-->

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- ESTILOS DE INICIO-->

    <link rel="stylesheet" href="/css/inicio/inicio.css">

    <title>Remates Peru || INICIO</title>
</head>

<body>
    <!-- Banner -->
    <section class="banner">
        <div class="banner__imagen-container">
            <img src="/img/Blender_course_for_designers_and_illustrators-removebg-preview.png" alt="Casa en subasta"
                class="banner__imagen">
        </div>
        <div class="contenedor-banner-contenido">
            <div class="banner__contenido">
                <h1 class="banner__titulo">Precios de remate</h1>
                <h2 class="banner__subtitulo">Remates inmobiliarios a nivel nacional</h2>
            </div>
            <!-- Buscador integrado -->
            <div class="banner-buscador">
                <input type="text" class="buscador" placeholder="Buscar propiedades en remate...">
                <button type="submit" class="boton-buscador">
                    <i class="ri-search-line"></i>
                </button>
            </div>
        </div>
    </section>

    <!-- Cuadros de subastas -->
    <h2 class="section-title">Propiedades Destacadas</h2>
    <div class="cuadricula-subastas">
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 1">
            <h3 class="item-subasta__titulo">Subasta 1</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 2">
            <h3 class="item-subasta__titulo">Subasta 2</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 3">
            <h3 class="item-subasta__titulo">Subasta 3</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 4">
            <h3 class="item-subasta__titulo">Subasta 4</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 5">
            <h3 class="item-subasta__titulo">Subasta 5</h3>
        </div>
    </div>


    
    <div class="carta">
        <div class="imagen-contenedor">
            <img src="/img/Inmobiliaria-La-venta-de-Inmuebles-4.0.jpg" alt="Edificio del Sol" class="imagen-propiedad">
            <a href="www.google.com" class="renta-button">Renta +</a>
        </div>
        <div class="contenido">
            <div class="label">Nombre del inmueble</div>
            <h2 class="nombre_proyecto">Edificio los canarios</h2>
            
            <div class="label">Dirección</div>
            <p class="direccion">Av. Arequipa 502 , arancota</p>
            
            <div class="detalles">
                <div class="detalles-item">
                    <div class="label">M2</div>
                    <div class="detalles-valor">450</div>
                </div>
                <div class="detalles-item">
                    <div class="label">N° Pisos</div>
                    <div class="detalles-valor">3</div>
                </div>
                <div class="detalles-item">
                    <div class="label">N° de espacios</div>
                    <div class="detalles-valor">5</div>
                </div>
            </div>
            
            <div class="label">Precio</div>
            <div class="precio">S/ 49,200</div>
        </div>
    </div>
    </section>


    <script>
        history.scrollRestoration = "manual";
        window.onload = function () {
            window.scrollTo(0, 0);
        };
    </script>
</body>

</html>