<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ESTILOS DE INICIO-->

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- ESTILOS DE INICIO-->

    <link rel="stylesheet" href="/css/inicio/inicio.css">

    <title>Remates Peru || INICIO</title>
</head>

<body>
    <!-- Banner -->
    <section class="banner">
        <div class="contenedor-banner-contenido">
            <div class="banner__contenido">
                <h1 class="banner__titulo">Precios de remate</h1>
                <h2 class="banner__subtitulo">Remates inmobiliarios a nivel nacional</h2>
            </div>
            <button class="banner__boton">Explorar más inmuebles</button>
            <div class="banner__imagen-container">
                <img src="/img/Comedor_6_Personas_Rectangular.png" alt="Casa en subasta" class="banner__imagen">
            </div>
        </div>
    </section>


    <!-- Cuadros de subastas -->
    <h2 class="section-title">Propiedades Destacadas</h2>
    <div class="cuadricula-subastas">
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 1">
            <h3 class="item-subasta__titulo">Subasta 1</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 2">
            <h3 class="item-subasta__titulo">Subasta 2</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 3">
            <h3 class="item-subasta__titulo">Subasta 3</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 4">
            <h3 class="item-subasta__titulo">Subasta 4</h3>
        </div>
        <div class="item-subasta">
            <img class="item-subasta__imagen" src="/img/_3d__miniature__house-removebg-preview.png" alt="Subasta 5">
            <h3 class="item-subasta__titulo">Subasta 5</h3>
        </div>
    </div>
    </section>
    <script>
        history.scrollRestoration = "manual";
        window.onload = function () {
            window.scrollTo(0, 0);
        };
    </script>
</body>

</html>