<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/inicio/inicio.css">
    <link rel="stylesheet" href="/css/globales/globales.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />


    <title>Remates Peru || INICIO</title>
</head>

<body>
    <%- include('componentes/header') %>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>

        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>

        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>
        <h1>Hola mundosfdsdfdsfdsf</h1>

        <%- include('componentes/footer') %>


            <script>
                window.addEventListener('scroll', () => {
                    const header = document.getElementById('header');
                    const banner = document.getElementById('banner');
                    const cartas = document.getElementById('cartas');
                    const contactos = document.getElementById('contactos');
                    const bannerBottom = banner.getBoundingClientRect().bottom;
                    const cartasBottom = cartas.getBoundingClientRect().bottom;
                    const contactosTop = contactos.getBoundingClientRect().top;
                    if (bannerBottom > 0) { header.style.color = '#0a0000'; }
                    else if (cartasBottom > 0) { header.style.color = '#fffcfc'; }
                    else if (contactosTop < window.innerHeight) { header.style.color = '#0a0000'; }
                    else {
                        header.style.color = 'black';
                    }
                });



            </script>
</body>

</html>