<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/inicio/inicio.css">
    <link rel="stylesheet" href="/css/globales/globales.css">
    
    <title>Remates Peru || INICIO</title>
</head>
<body>
    <h1>Hola mundo</h1>
</body>
</html>