<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remates Peru || REMATES</title>
    <link rel="stylesheet" href="/css/remates/remates.css">
</head>

<body>
    <!-- banner remates -->
    <div class="banner_remates">
        <div class="overlay">
            <h1>remates</h1>
        </div>
        <!-- filtro busqueda v1 -->
        <!--  <div class="banner_filtro">
            <div class="contenedor_filtro">
              <form action="" method="post">

                <div class="parent">
                  <div class="div1">
                    <p>
                      ENCUENTRA TU REMATE MAS RAPIDO
                    </p>
                  </div>
                  <div class="div2 contenedor_inputs">
                    <label for="">
                      <i class="ri-map-line"></i>
                      Ciudad
                    </label>
                    <input type="text">
                  </div>
                  <div class="div3 contenedor_inputs">
                    <label for="">
                      <i class="ri-map-pin-2-line"></i>
                      Departamanto
                    </label>
                    <input type="text">
                  </div>
                  <div class="div4 contenedor_inputs">
                    <label for="">
                      <i class="ri-map-pin-user-line"></i>
                      Distrito
                    </label>
                    <input type="text">
                  </div>
                  <div class="div5 contenedor_inputs">
                    <label for="">
                      <i class="ri-money-dollar-circle-line"></i>
                      Precio
                    </label>
                    <input type="number">
                  </div>
                  <div class="div6 contenedor_inputs">
                    <label for="">
                      <i class="ri-menu-search-line"></i>
                      Categoria
                    </label>
                    <input type="text">
                  </div>
                  <div class="div7">
                    <button type="submit">
                      <i class="ri-search-2-line"></i>
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div> -->

        <!-- tarjeta v1 -->

        <div class="card">
            <div class="image-container">
                <img class="foto_casa" src="https://uiparadox.co.uk/public/templates/realtor/v2/assets/media/properties/property-1.png"alt="House Image">
                <a href="#" class="etiqueta_imagen">mas informacion</a>
                <img class="info_img" src="/img/imagen_pequeña_casa.png" alt="">
                <h6 class="info_img_tex">en venta</h6>
            </div>
            <div class="card-content">
                <h2>Urban Oasis Homes</h2>
                <p class="address">101 Serene Avenue, Maplewood Gardens</p>
                <p class="price">$90,000</p>
                <p class="details">4 habitacion | 2 Baños | 360 metros</p>
               <!--  <a href="#" class="view-detail">View Detail</a> -->
            </div>
</body>

</html>