<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remates Peru || REMATES</title>
    <link rel="stylesheet" href="/css/remates/remates.css">

</head>

<body>
    <!-- banner remates -->
    <div class="banner_remates">
        <div class="overlay">
            <h1>remates</h1>
        </div>


    </div>

    <!-- tarjeta v1 -->
    <div class="card">

        <div class="image-container">
            <img class="foto_casa"
                src="https://uiparadox.co.uk/public/templates/realtor/v2/assets/media/properties/property-1.png"
                alt="House Image">
            <a href="#" class="etiqueta_imagen">mas informacion</a>
            <img class="info_img" src="/img/imagen_pequeña_casa.png" alt="">
            <h6 class="info_img_tex">en venta</h6>
        </div>
        <a class="enlaces_carta" href="#">
            <div class="card-content">
                <h2>casa de campo</h2>
                <p class="address">110 hola mundo, nose donde queda</p>
                <p class="price">$90,000</p>
                <p class="details">4 habitacion | 2 Baños | 360 metros</p>
            </div>
        </a>
    </div>

    <!-- <div id="filtro_v1" class="filtro">
    <form action="filtro_propiedades" class="filtro_for">
        <div class="filtro_colum">
            <div class="opciones">
                <select name="select" class="opciones_elejir">
                    <option selected="elejir">tipo propiedad</option>
                    <option value="1">Apartment</option>
                    <option value="2">Casa</option>
                    <option value="3">Oficina</option>
                    <option value="4">Casa de playa</option>
                </select>
            </div>
        </div>
        <div class="filtro_colum">
            <div class="opciones">
                <select name="select" class="opciones_elejir">
                    <option selected="elejir">Ciudad</option>
                    <option value="1">Apartment</option>
                    <option value="2">Casa</option>
                    <option value="3">Oficina</option>
                    <option value="4">Casa de playa</option>
                </select>
            </div>
        </div>
        <div class="filtro_colum">
            <div class="opciones">
                <select name="select" class="opciones_elejir">
                    <option selected="elejir">Precio</option>
                    <option value="1">Apartment</option>
                    <option value="2">Casa</option>
                    <option value="3">Oficina</option>
                    <option value="4">Casa de playa</option>
                </select>
            </div>
        </div>
        <div class="filtro_colum">
            <div class="opciones">
                <select name="select" class="opciones_elejir">
                    <option selected="elejir">otros</option>
                    <option value="1">Apartment</option>
                    <option value="2">Casa</option>
                    <option value="3">Oficina</option>
                    <option value="4">Casa de playa</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn_filtro">
        </button>
    </form>
</div> -->

</body>

</html>