<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remates Peru || REMATES</title>
</head>

<body>
    <section id="remates_baner" class="baner_remates">
        <h1>remates</h1>
        <img src="https://uiparadox.co.uk/public/templates/realtor/v2/assets/media/bg/page-header-bg.jpg" alt="">

    </section>

</body>

</html>