<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ESTILOS -->
  <link rel="stylesheet" href="/css/inicio/inicio.css">
  <!-- COMPONENTES -->
  <link rel="stylesheet" href="/css/globales/globales.css">

  <!-- CDN DE ICONOS REMIX -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

  <title>Remates Peru || SUBASTAS</title>
</head>

<body>
  <%- include('componentes/header') %>
  <main>

    <section class="contenedor_titulo_subastas">
      <h1 class="titulo">CASA PLAYA</h1>
      <div class="informacion_casa">
        <h2>Av. Fray Antonio Alcalde 10, Camana</h2>
      </div>
      <div class="info_inmueble">
        <div class="precio">
          <p>
            <span>Precio</span>
            <span>
              $49.200
            </span>
          </p>
        </div>
        <div class="distrito">
          <p>
            <span>Distrito</span>
            <span>
              5
            </span>
          </p>
        </div>
        <div class="tamaño">
          <p>
            <span>Mt2</span>
            <span>
              200
            </span>
          </p>
        </div>
        <div class="pisos">
          <p>
            <span>Pisos</span>
            <span>
              2
            </span>
          </p>
        </div>
      </div>
    </section>

    <section class="imagen">
      <div class="contenendor_img">
        <img src="/img/casa3.jfif" alt="">
        <img src="/img/casa3.jfif" alt="">
      </div>
    </section>

    <section class="descripcion">
      <div class="contenedor_descripcion">
        <div class="texto_info">
          <p class="about_subtitle"></p>
          <p class="about_descripcion"></p>
        </div>
        <div class="info_casa">
          <div class="info">
            <span>
              <i class="ri-home-2-line"></i>
              <p>cosina</p>
            </span>
          </div>
          <div class="info">
            <span>
              <i class="ri-home-2-line"></i>
              <p>patio</p>
            </span>
          </div>
          <div class="info">
            <span>
              <i class="ri-home-2-line"></i>
              <p>pisina</p>
            </span>
          </div>
          <div class="info">
            <span>
              <i class="ri-home-2-line"></i>
              <p>comedor</p>
            </span>
          </div>
          <div class="info">
            <span>
              <i class="ri-home-2-line"></i>
              <p>labanderia</p>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class=""></section>

    <section class=""></section>
    
  </main>
  <aside></aside>
  <%- include('componentes/footer') %>
</body>

</html>