@use 'variables' as *;

/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: $fuenteParrafos;
    scroll-behavior: smooth;
   /*  background-color: #2a0202; */
}

/* Cargador */
.cargador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 0, 0, 0.937);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: $colorsecundario;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: desaparecer 1s forwards;
    animation-delay: 1.2s;
}

.cargador__letra {
    display: inline-block;
    animation: rebotar 1s ease-in-out infinite;
    letter-spacing: 0.2em;
}

@keyframes rebotar {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}

@keyframes desaparecer {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Banner */
.banner {
    height: 100vh;
    background: radial-gradient(circle, rgba(255, 63, 63, 1) 0%, rgba(255, 14, 14, 1) 65%, rgba(208, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorsecundario;
    padding: 20px;
    position: relative;
    animation: destello 1s ease;
    overflow: hidden;
}

@keyframes destello {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.banner__contenido {
    position: relative;
    z-index: 2;
}

.banner__titulo {
    color: $colorsecundario;
    font-family: $fuentePrincipal;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 20px;
    animation: caerDesdeArriba 1s ease forwards;
}

.banner__subtitulo {
    font-size: clamp(2rem, 5vw, 4rem);
    color: $colorsecundario;
    font-family: $fuenteSecundaria;
    margin-bottom: 30px;
    animation: caerDesdeArriba 1s ease 0.2s forwards;
}

.banner__slogan {
    font-size: 1.5em;
    margin-bottom: 20px;
    animation: caerDesdeArriba 1s ease 0.3s forwards;
}

.banner__boton {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: $colorsecundario;
    color: $colorprimario;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    animation: caerDesdeArriba 1s ease 0.4s forwards;

    &:hover {
        background-color: $colorterciario;
        transform: scale(1.05);
        color: $colorsecundario;
    }
}


@keyframes caerDesdeArriba {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.banner__imagen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner__imagen {
    max-width: 300px;
    height: auto;
    animation: aparecerYBrillar 2s ease-in-out forwards;
    opacity: 0;
}

@keyframes aparecerYBrillar {
    0% {
        opacity: 0;
        filter: brightness(100%);
    }

    50% {
        opacity: 0.7;
        filter: brightness(150%);
    }

    100% {
        opacity: 0.5;
        filter: brightness(120%);
    }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .banner__titulo {
        font-size: 1.2em;
    }

    .banner__subtitulo {
        font-size: 2em;
    }

    .banner__imagen {
        max-width: 200px;
    }
}

/* Cuadros de subastas */
.cuadricula-subastas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.item-subasta {
    background-color: $colorsecundario;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: aparecer 1s ease forwards;
    opacity: 0;
}

.item-subasta:hover {
    transform: scale(1.05);
}

.item-subasta__imagen {
    max-width: 100%;
    height: auto;
}

.item-subasta__titulo {
    margin-top: 10px;
    font-size: 1.2em;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

/* Secciones de información */
.seccion-info {
    display: flex;
    min-height: 50vh;
}

.seccion-info__imagen {
    flex: 1;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.seccion-info__texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: $colorsecundario;
    animation: deslizarDesdeIzquierda 1s ease forwards;
    opacity: 0;
}

.seccion-info__titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.seccion-info__subtitulo {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.seccion-info__parrafo {
    font-size: 1.2em;
}

@keyframes deslizarDesdeIzquierda {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Sección de imagen completa */
.seccion-imagen-completa {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorsecundario;
    text-align: center;
    padding: 20px;
}

.seccion-imagen-completa__contenido {
    /* background-color: $colorterciario; */
    padding: 40px;
    border-radius: 10px;
}

.seccion-imagen-completa__titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.seccion-imagen-completa__subtitulo {
    font-size: 3em;
    margin-bottom: 20px;
}

.seccion-imagen-completa__parrafo {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.seccion-imagen-completa__boton {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: $colorsecundario;
    color: $colorterciario;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $colorterciario;
        transform: scale(1.05);
        color: $colorsecundario;
    }

}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .banner__titulo {
        font-size: 1.5em;
    }

    .banner__subtitulo {
        font-size: 2.5em;
    }

    .seccion-info {
        flex-direction: column;
    }

    .seccion-info__imagen,
    .seccion-info__texto {
        width: 100%;
    }

    .seccion-info__imagen {
        height: 300px;
    }

    .seccion-info__texto {
        padding: 20px;
    }

    .seccion-info__titulo {
        font-size: 1.2em;
    }

    .seccion-info__subtitulo {
        font-size: 2em;
    }

    .seccion-info__parrafo {
        font-size: 1em;
    }

    .seccion-imagen-completa__titulo {
        font-size: 1.2em;
    }

    .seccion-imagen-completa__subtitulo {
        font-size: 2em;
    }

    .seccion-imagen-completa__parrafo {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .banner__titulo {
        font-size: 1.2em;
    }

    .banner__subtitulo {
        font-size: 2em;
    }

    .cuadricula-subastas {
        grid-template-columns: 1fr;
    }

    .seccion-imagen-completa__contenido {
        padding: 20px;
    }
}